// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import 'partials/base';

body {
	background-color: #444;
	font-family: 'Lato', serif;
	}

h1 {
	color: #fff;
	transition: 2s;
	opacity:.7;
	margin-bottom: 20px;

	&:hover {
		opacity: 1;
	}
} 
.end {
	margin-top: 25px;
	color: #fff;
	transition: 2s;
	opacity:.7;

	&:hover {
		opacity: 1;
		font-size: 16px;
	}
}
.greyout {
	opacity: .2;
}
.container-fluid {
	height: 100vh;
	transition: 1s;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.quote-box {
	
}

.quote {
	color: #fff;
	font-size: 22px;
	opacity: 0;
	line-height: 1.5;
	font-weight: 600;
}

.author {
	color: #888;
	text-align: right;
	opacity: 0;
}
.buttons {
	margin: 10px 0px;
}
.movies-theme {
	background-image: url('../img/theater.jpg');
	background-position: center;
	background-size: cover;

}

.books-theme {
	background-image: url('../img/books.jpg');
	background-position: center;
	background-size: cover;

}
.music-theme {
	background-image: url('../img/albums.jpg');
	background-position: center;
	background-size: cover;

}

.btn-group {
	transition: 1s;
	label {
		outline: none;
		&:hover  {
		background-color: #444;
		outline: none;
		}
		&:focus {
			background-color: #444;
		outline: none;
		}
	}

	.btn {
		background-color: #666;
		border: 1px solid #333;
		outline: none;

		&:hover  {
		background-color: #444;
		outline: none;
		}
		&:focus {
			background-color: #444;
		outline: none;
		}
	}

	.active {
		background-color: #333;
		&:hover  {
		background-color: #333;
		outline: none;
		}
		&:focus {
			background-color: #333;
		outline: none;
		}
	}
}

@media only screen and (min-width: 361px) {
	.quote {

	font-size: 28px;

	}
}




